In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
rf = pd.read_csv("Titanic-Dataset.csv")

rf['Sex'] = rf['Sex'].replace({'male': 0, 'female': 1})

rf['Age'].fillna(rf['Age'].median(), inplace=True)


rf = pd.get_dummies(rf, columns=['Embarked'], drop_first=True)

rf.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'], inplace=True)


print(rf.isna().sum())

Survived      0
Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [4]:
rf[['Embarked_Q','Embarked_S']] = rf[['Embarked_Q','Embarked_S']].astype(int)
rf.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked_Q  Embarked_S
0         0       3    0  22.0      1      0   7.2500           0           1
1         1       1    1  38.0      1      0  71.2833           0           0
2         1       3    1  26.0      0      0   7.9250           0           1
3         1       1    1  35.0      1      0  53.1000           0           1
4         0       3    0  35.0      0      0   8.0500           0           1

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scle_col = ['Age','Fare']
rf[scle_col] = scaler.fit_transform(rf[scle_col])
rf.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S
0,0,3,0,-0.565736,1,0,-0.502445,0,1
1,1,1,1,0.663861,1,0,0.786845,0,0
2,1,3,1,-0.258337,0,0,-0.488854,0,1
3,1,1,1,0.433312,1,0,0.420730,0,1
4,0,3,0,0.433312,0,0,-0.486337,0,1

In [7]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

X = rf.drop(columns=['Survived'])
y = rf['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
DecisionTree_model = DecisionTreeClassifier(random_state=42)
DecisionTree_model.fit(X_train,y_train)
y_pred = DecisionTree_model.predict(X_test)

In [8]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
accuracy_score = accuracy_score(y_test, y_pred)
confusion_mat = confusion_matrix(y_test, y_pred)
print("Accuracy Score:", accuracy_score)
print("Confusion Matrix:\n", confusion_mat)

Accuracy Score: 0.7877094972067039
Confusion Matrix:
 [[86 19]
 [19 55]]

AFTER STACKING

In [10]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

bagging_model = BaggingClassifier(
    estimator=DecisionTreeClassifier(random_state=42),
    n_estimators=100,        # number of trees
    bootstrap=True,          # sampling with replacement
    random_state=42
)

bagging_model.fit(X_train, y_train)

y_pred_bag = bagging_model.predict(X_test)
print("Bagging Accuracy:", accuracy_score(y_test, y_pred_bag))

Bagging Accuracy: 0.8044692737430168

USING RANDOM FOREST

In [11]:
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier(
    n_estimators=100,
    random_state=42
)

rf_model.fit(X_train, y_train)

y_pred_rf = rf_model.predict(X_test)
print("Random Forest Accuracy:", accuracy_score(y_test, y_pred_rf))

Random Forest Accuracy: 0.7988826815642458